Tic tac toe/Connected Services/Matchmaking/ServiceMatchmaking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceMatchmaking" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceMatchmaking_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceMatchmaking_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IServiceMatchmaking_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMatchmaking_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IServiceMatchmaking_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMatchmaking_SendMove_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMove" />
  </wsdl:message>
  <wsdl:message name="IServiceMatchmaking_SendMove_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMoveResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMatchmaking_StartGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IServiceMatchmaking_MoveCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MoveCallback" />
  </wsdl:message>
  <wsdl:portType name="IServiceMatchmaking">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMatchmaking/Connect" message="tns:IServiceMatchmaking_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMatchmaking/ConnectResponse" message="tns:IServiceMatchmaking_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMatchmaking/Disconnect" message="tns:IServiceMatchmaking_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMatchmaking/DisconnectResponse" message="tns:IServiceMatchmaking_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMove">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMatchmaking/SendMove" message="tns:IServiceMatchmaking_SendMove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMatchmaking/SendMoveResponse" message="tns:IServiceMatchmaking_SendMove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMatchmaking/StartGame" message="tns:IServiceMatchmaking_StartGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMatchmaking/MoveCallback" message="tns:IServiceMatchmaking_MoveCallback_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceMatchmaking" type="tns:IServiceMatchmaking">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceMatchmaking_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IServiceMatchmaking/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IServiceMatchmaking/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMove">
      <soap12:operation soapAction="http://tempuri.org/IServiceMatchmaking/SendMove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IServiceMatchmaking/StartGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveCallback">
      <soap12:operation soapAction="http://tempuri.org/IServiceMatchmaking/MoveCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMatchmaking">
    <wsdl:port name="NetTcpBinding_IServiceMatchmaking" binding="tns:NetTcpBinding_IServiceMatchmaking">
      <soap12:address location="net.tcp://localhost:8734/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-EM7ARL6\romar</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>